/* global styles start */

@font-face {
    font-family: Poppins;
    src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: FREESCPT;
    src: url('../fonts/FREESCPT.TTF');
}

:root {
    --main-color: #0E0C38;
    --secondary-color: #FF0513;
    --text-color: #FFFFFF;
}

* {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

a, button {
    transition: .3s;
    cursor: pointer;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

.container {
    padding: 0 4%;
}

input {
    width: 100%;
    border: 0;
    background-color: #fff;
    color: var(--text-color);
}


input:focus {
    outline: none;
}

/* Header style */

header {
    background-color: var(--main-color);
    position: relative;
    overflow: hidden;
}

header .dots1{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 394px;
}

header .dots2{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 1443px;
    bottom: 40px;
}

.nav-menu button{
    color: var(--text-color);
    border-radius: 40px;
    padding: 17px 42px;
    background-color: transparent;
    border: 2px solid white;
}

.nav-menu button:hover{
    background-color: var(--secondary-color);
}

.header-nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.nav-menu{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-menu li{
    margin-inline-end: 20px;
}

.nav-menu a{
    width: 80px;
    height: 95px;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    /* scroll-behavior: smooth; */
}

.nav-menu a:hover{
    background-color: var(--secondary-color);
}

header nav span{
    color: var(--text-color);
    font-size: 80px;
    font-weight: 250px;
    font-family: FREESCPT;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header-img{
    width: 57%;
}

.header-info{
    width: 39%;
}

.header-info h2 {
    color: var(--text-color);
    font-family: Poppins;
    font-size: 104px;
}

.header-info p {
    color: var(--text-color);
    font-family: Poppins;
    font-size: 18px;
    padding-bottom: 18px;
}

.header-info span{
    font-family: Poppins;
    color: var(--secondary-color);
    font-size: 18px;
}

.header-menu p {
    font-size: 22px;
    font-family: Poppins;
}

.header-menu ul {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding-bottom: 20px;
    width: 100%;
}

.header-menu ul a{
    font-size: 35px;
    margin-inline-end: 29px;
}

.header-info button{
    color: var(--text-color);
    font-family: Poppins;
    font-size: 20px;
    border-radius: 40px;
    padding: 22px 44px;
    background-color: transparent;
    border: 1px solid #fff;
    margin-inline-end: 27px;
}

.header-info button:hover{
    background-color: var(--secondary-color);
}

.img1{
        width: 60%;
    margin-bottom: 103px;
    margin-top: 103px;
    margin-left: 200px;
}

/* About me section style */

#aboutSection .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#040221 !important;
    padding-top: 150px;
}

.about-content{
    width: 49%;
    /* text-align: start; */
    color: var(--text-color);
}

.about-img{
    width: 40%;
    border: 55px solid var(--main-color);
}

.about-content button{
    border-radius: 3em;
    background-color: transparent;
    color: var(--text-color);
    border-color: var(--text-color);
    padding: 21px 45px;
    margin-bottom: 85px;
    font-size: 22px;
}

.about-content h2{
    font-size: 40px;
    margin-bottom: 50px;
}

.about-content p{
    margin-block-end: 50px;
    line-height: 40px;
}

#aboutSection button:hover{
    background-color: var(--secondary-color);
}

/* Portofolio section style */

#portfolioSection .container{
    background-color: var(--main-color);
    background-color: #040221 !important;
}

/* #portfolioSection .project{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:100px 0 ;
} */

#portfolioSection .project {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* أو أي مسافة تريدها بين البطاقات */
    padding: 100px 0;
    justify-content: flex-start; /* ضع العناصر بداية الصف */
}


#portfolioSection .portfolio-top-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

#portfolioSection .portfolio-section-title{
    display: flex;
    justify-content: space-between;   
}

#portfolioSection .portfolio-section-title h2{
    color: var(--text-color);
    font-size: 40px;
}

#portfolioSection .portfolio-slider-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#portfolioSection .portfolio-slider-btn button{
background-color: transparent;
border-width: 1px;
border-radius: 50%;
border-color: white !important;
color: var(--secondary-color);
width: 80px;
height: 80px;
color: var(--text-color);
font-size: 25px;
margin-inline-start: 25px;
}

#portfolioSection .portfolio-bottom-section ul{
    display: flex;
    /* justify-content: space-between; */
    /* width: 25%; */

}

#portfolioSection .portfolio-bottom-section a{
    font-weight: 100;
}

#portfolioSection .portfolio-bottom-section a:hover,#portfolioSection .portfolio-bottom-section .active{
    color: var(--secondary-color);
}

#portfolioSection .portfolio-slider-btn button:hover{
background-color: var(--secondary-color);
}

#portfolioSection .portfolio-bottom-section button{
font-size: 20px;
margin-inline-end: 35px;
font-size: 20px;
font-weight: 100;
border: none !important;
background-color: transparent !important;
color: var(--text-color);
}

#portfolioSection .project a{
    width: 29%;
}

.portfolio-card {
    flex: 0 0 calc(33.333% - 20px); /* 3 بطاقات في الصف مع احتساب gap */
    box-sizing: border-box;
    margin-bottom: 20px;
}


.portfolio-card{
    border-radius: 25px;
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
    }

    .portfolio-card img{
    border-radius: 25px;
}



#portfolioSection .projeect-content{
height: 100%;
width: 100%;
background-color: rgba(255, 0, 0, 0.527);
border-radius: 25px;
position: absolute;
bottom: -2000px;
left: 0;
transition: 0.3s;
}

.portfolio-card:hover .projeect-content{
    bottom: 6px !important;
}

#portfolioSection .projeect-content h3{
width:50%;
font-size: 30px;
font-weight: 200;
}

#portfolioSection .content-text{
    padding-top: 160px;
    padding-inline-start: 30px;
}

.portfolio-section-title{
    position: relative;
}

.portfolio-section-title::after{
    content: "";
    width: 200px;
    height: 2px;
    background-color: var(--secondary-color);
    position: absolute;
    top: 34px;
    right: -247px;
}

/* Capabilities section style start */

#capabilities-section .container{
    background-color: var(--main-color);
}

#capabilities-section .section-content {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--main-color);
    color: var(--text-color);
    padding-top: 100px;
}

.section-title{
    text-align: center;
    padding-top: 75px;
}

.section-title h2{
    color: var(--text-color);
    font-size: 45px;
    padding-bottom: 80px;
}

.section-title p{
    color: var(--text-color);
    font-size: 20px;
}

.web {
    width: 26%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    transition: .3s;
    margin-bottom: 100px;
    cursor: pointer;
}

.web-design-content span {
    font-size: 14px;
}

.web-design-content {
    font-family: Poppins, 'Arial Narrow', Arial, sans-serif;
}

.web-design-img {
    width: 100px;
    margin-bottom: 30px;
}

.web:hover {
    transform: translateY(-10px);
}


/* Comments section style */

#commentsSection .container {
    background-color: #040221 !important;
}

#commentsSection .container {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#commentsSection .comments-bottom-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 115px 0;
}

.comments-bottom-section h4 {
    color: var(--text-color);
    font-size: 23px;
}

.comments-top-section h2 {
    padding: 70px 0;
    text-align: center;
    color: var(--text-color);
    font-size: 40px;
}

.comments-top-section p {
    text-align: center;
    color: var(--text-color);
    font-size: 22px;
}

.comments-top-section {
    position: relative;
}

.comments-top-section::after {
    content: "";
    width: 255px;
    height: 2px;
    background-color: var(--secondary-color);
    position: absolute;
    top: 165px;
    left: 50%;
    transform: translateX(-50%);
}

.comments-bottom-section .comments-media {
    width: 35%;
    background-image: url(../imgs/map.png);
    background-size: 102%;
    position: relative;
    background-position: center;
    /* background-attachment: fixed; */
    background-size: contain;
    background-repeat: no-repeat;
    padding: 140px 0;
}

.comments-bottom-section .comments-media img {
    position: absolute;

}

.comments-media .comments-media-person1 {
    top: -6px;
    left: 62px;
    width: 21%;
}

.comments-media .comments-media-person2 {
    top: 44px;
    left: 248px;
    width: 16%;
}

.comments-media .comments-media-person3 {
    top: -86px;
    left: 394px;
    width: 22%;
}

.comments-media .comments-media-person4 {
    top: 147px;
    left: 132px;
    width: 13%;
}

.comments-media .comments-media-person5 {
    top: 238px;
    left: 215px;
    width: 25%;
}

.comments-media .comments-media-person6 {
    top: 191px;
    left: 411px;
    width: 20%;
}

#portfolioSection .portfolio-bottom-section a:hover, #portfolioSection .portfolio-bottom-section .active {
    color: var(--secondary-color);
}

.comments-media img:hover, .comments-media .active {
    border: solid 7px var(--secondary-color);
    border-radius: 50%;
    /* transition:  ; */
}

.comments-bottom-section .comment-card {
    width: 51%;
}

.comment-card {
    position: relative;
}

.comment-card p {
    color: var(--text-color);
    font-size: 23px;
    line-height: 45px;
}

.comment-card h1 {
    color: var(--text-color);
}

.comment-card i {
    color: var(--secondary-color);
}

.comment-card img {
    width: 11%;
}

.comment-card .company {
    font-size: 18px;
}

.comment-card .lower-quote {
    /* align-items: end; */
    text-align: center;
}

/* Contact us section style */

#contactUsSection .container{
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact-section-title{
    padding-top: 200px;
    text-align: center;
    width: 53%;
}

.contact-section-title h2{
    color: var(--text-color);
    font-size: 50px;
}

.contact-section-title p{
    color: var(--text-color);
    padding-top: 25px;
    line-height: 50px;
}

form{
    width: 70%;
    padding-top: 78px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.group-input{
    width: 48%;
}

.group-input input{
    height: 62px;
    margin-block-end: 35px;
}

form select{
    width: 100%;
    height: 62px;
    margin-bottom: 34px;
}

.bottom-input{
    width: 100%;
}

.bottom-input textarea{
    width: 100% !important;
}

.button-section {
    background-color: #FF0513;
    color: var(--text-color);
    border: none;
    border-radius: 40px;
    padding: 28px 75px;
    margin: auto;
    margin-bottom: 110px;
    margin-top: 40px;
    font-size: 20px;

}

/* Footer style */

footer .container {
    padding: 0;
}

.footer-title {
    background-color: rgb(1, 1, 27);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 10px 0 40px;
    text-align: center;
}

.nav-footer h2 {
    color: var(--text-color);
    font-family: 'FREESCPT', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    font-size: xx-large;
    margin: 30px 45px;
    padding: 10px 0 30px;
}

.nav-footer ::before {
    content: " ";
    width: 2px;
    height: 40px;
    background-color: var(--secondary-color);
    position: absolute;
    left: 50%;
    top: -52%;

}

.footer-content {
    text-align: center;
    font-family: 'Poppins', 'Arial Narrow', Arial, sans-serif;
    color: var(--text-color);
    padding: 5px 5px 15px 5px;
    position: relative;
}

.nav-footer-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav-footer-icon a {
    /* margin: 20px 20px 25px 5px; */
    margin: 20px;
}

.nav-footer-icon i{
    font-size: 30px;
    /* color: var(--text-color); */
}

.copyright-section .container {
    padding: 0;
}

.copyright-section {
    border-top: 1px solid var(--text-color);
    color: var(--text-color);
    background-color: rgb(1, 1, 27);
    text-align: center;
    padding: 30px 0px;
}


.footer-title .Portfolio-line::after {
    content: " ";
    width: 2px;
    height: 20px;
    background-color: var(--text-color);
    position: absolute;
    left: 37%;
    top: 4%;
}

.footer-title .Portfolio-line::before {
    content: " ";
    width: 2px;
    height: 20px;
    background-color: var(--text-color);
    position: absolute;
    left: 58%;
    top: 4%;
}

/* Media query */

@media (max-width:768px) {
    #portfolioSection .project a{
        width: 45%;
    }
    #portfolioSection .portfolio-bottom-section ul{
        width: 100%;
    }
    #portfolioSection .content-text{
        padding-top: 65px;
        padding-inline-start: 10px;
    }
    #portfolioSection .content-text h3{
        font-size: 15px;
        }
        #portfolioSection .content-text p{
            font-size: 8px;
            font-size: 15px;
            }
            #portfolioSection .content-text h3{
            font-size: 25px;
            }
            #portfolioSection .content-text {
                padding-top: 77px;
            }
            .portfolio-section-title::after{
                width: 50px;
                top: 32px;
                right: -67px;
            }
            .comments-bottom-section{
                display: flex;
                flex-direction: column;
            }
            .comments-bottom-section .comments-media{
                width: 100%;
            }
            .comments-bottom-section .comment-card{
                width: 100% ;
                padding-top: 100px;
            }
            .comments-media .comments-media-person1{
                top: 34px;
                left: 40px;
                width: 21%;
            }
            
            .comments-media .comments-media-person2{
                top: 64px;
                left: 186px;
                width: 16%;
            }
            
            .comments-media .comments-media-person3{
                top: -34px;
                left: 302px;
                width: 22%;
            }
            
            .comments-media .comments-media-person4{
                top: 147px;
                left: 95px;
                width: 13%;
            }
            
            .comments-media .comments-media-person5{
                top: 209px;
                left: 153px;
                width: 25%;
            }
            
            .comments-media .comments-media-person6{
                top: 191px;
                left: 299px;
                width: 20%;
            }
            .about-me-img , .about-me .section-title ,.capabilities-section , .footer-title , .copyright-section{
                width: 100%;
                text-align: center;
            }
                 .section-title h2::after {
                    content:"" ;
                    width: 35%;
                    height: 2px;
                    background-color: var(--secondary-color);
                    position: absolute;
                    top: 150%;
                    left: 50%;
            }
            .about .section-title h2::after {
                content:"" ;
                width: 35%;
                height: 2px;
                background-color: var(--secondary-color);
                position: absolute;
                top: 150%;
                left: 50%;
        }
        
            .web-design-content{
                width: 100%;
                padding: 0 5px;
                margin-bottom: 10px ;
            }
            header .container {
                text-align: center;
            }
        
            .header-img {
                width: 100%;
            }
        
            .header-content {
                width: 100%
            }
        
            .contact-form .group-input {
                text-align: center;
                width: 100%;
        
            }
        
            .background-header {
                display: none;
            }
        
            .background2 {
                display: none;
            }
        
            .top-nav span {
                width: 100%;
            }
        
            .header-information {
                display: flex;
                flex-direction: column-reverse;
            }
            .group-input input{
                margin: 10px 0px;
            }
            .group-input select{
                margin: 10px 0px;
            }
            .group-input textarea{
                margin: 10px 0px;
                width: 81%;
            }

            #about .container{
                padding-bottom: 100px;
            }
            #about .section-title{
                width: 100%;
            }
            .section-title h2::after{
                top: 294%;
            }
}